// Place all the styles related to the api/Hikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hike-container {
    width: 950px;
    margin: 20px auto;
    border: 1px solid $lighterGrey;
    background-color: $lightGrey;
}

.hike-hero {
    font-family: $headerFont;
    color: white;
}