// Place all the styles related to the api/Hikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hike-container {
    width: 100%;
    margin: 20px auto;
    border: $contentBorder;
    background-color: $lightGrey;
}

.hike-hero {
    font-family: $headerFont;
    color: white;
    height: 325px;
    position: relative;

    // Make this dynamic later on depending on the hike -- will need to pull from field/AWS
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3)), image-url("cristina-anne-costello-70ngqW6E0oY-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.hike-hero-content {
    margin: 0 20px;
    position: absolute;
    bottom: 15%;
}

.hike-hero h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
}

.hike-difficulty {
    font-size: 12px;
    padding: 4px 12px;
}

.moderate {
    background-color: $ctaBlue;
}

.easy {
    background-color: $backgroundGreen;
}

.hike-actions {
    background-color: $backgroundGreen;
    height: 55px;
}

.hike-main {
    display: flex;
}

.hike-main-content {
    flex: 1;
    background-color: white;
    font-family: $bodyFont;
    color: $darkGrey;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

.hike-summary {
    padding: 10px;
    border-bottom: $contentBorder;
}

.hike-stats {
    height: 50px;
    display: flex;
}

.hike-stats span {
    font-size: 13px;
    display: block;
}

.stat {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 10px;
    // padding: 10px 40px 10px 10px;
}

.stat > div {
    padding-left: 8px;
}

.stat > div > span:first-child {
    font-weight: 500;
}

.tag-cloud {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.tag-cloud > .tag {
    padding: 4px 12px;
    margin: 5px 10px 5px 0;
    background-color: $grey;
    font-size: 16px;
    font-weight: 500;
}

.hike-tabs {
    display: flex;
    background-color: $lightGrey;
    border-top: $contentBorder;
    border-bottom: $contentBorder;
    padding: 10px;
    color: $ctaBlue;
    font-weight: 500;
    font-size: 18px;
}

.hike-tabs span {
    padding-right: 10px;
    cursor: pointer;
}

.hike-tabs .active-tab {
    color: $darkGrey;
    cursor: default;
}

.hike-content p {
    padding: 10px;
}

.hike-sidebar {
    width: 325px;
    border-left: $contentBorder;
    display: none;
}

@media only screen and (min-device-width: 800px) {
    .hike-sidebar {
        display: block;
    }

    .hike-container {
        width: 950px;
    }
}