// Place all the styles related to the api/Hikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hike-container {
    width: 100%;
    margin: 20px auto;
    border: $contentBorder;
    background-color: $lightGrey;
}

// Hike hero section

.hike-hero {
    font-family: $headerFont;
    color: white;
    height: 325px;
    position: relative;

    // Make this dynamic later on depending on the hike -- will need to pull from field/AWS
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3)), image-url("cristina-anne-costello-70ngqW6E0oY-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.hike-hero-content {
    margin: 0 20px;
    position: absolute;
    bottom: 18%;
}

.hike-hero h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
}

.hike-difficulty {
    font-size: 12px;
    padding: 4px 12px;
}

.moderate {
    background-color: $ctaBlue;
}

.easy {
    background-color: $backgroundGreen;
}

// hike action bar

.hike-actions {
    background-color: $backgroundGreen;
    font-family: $bodyFont;
    color: white;
    height: 55px;
}

.hike-actions > ul {
    height: 100%;
    text-align: center;
}

.hike-actions li {
    height: 100%;
    width: 175px;
    position: relative;
}

.hike-actions li:hover {
    background-color: $buttonHoverGreen;
}

.hike-action-link {
    display: block;
    height: 100%;
}

.hike-action-link > * {
    position: absolute;
    left: 50%;
}

.hike-action-link > svg {
    background-color: white;
    color: $backgroundGreen;
    font-size: 28px;
    padding: 14px;
    border-radius: 50%;
    width: 60px;
    top: -30px;
    margin-left: -30px;
}

.hike-action-link > p {
    width: 100px;
    bottom: 8px;
    margin-left: -50px;
}

//Main hike content

.hike-main {
    display: flex;
    font-family: $bodyFont;
}

.hike-main-content {
    flex: 1;
    background-color: white;
    color: $darkGrey;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

.hike-summary {
    padding: 10px;
    border-bottom: $contentBorder;
}

.hike-stats {
    height: 50px;
    display: flex;
}

.hike-stats span {
    font-size: 13px;
    display: block;
}

.stat {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 10px;
}

.stat > div {
    padding-left: 8px;
}

.stat > div > span:first-child {
    font-weight: 500;
}

.tag-cloud {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.tag-cloud > .tag {
    padding: 4px 12px;
    margin: 5px 10px 5px 0;
    background-color: $grey;
    font-size: 16px;
    font-weight: 500;
}

.hike-tabs {
    display: flex;
    background-color: $lightGrey;
    border-top: $contentBorder;
    border-bottom: $contentBorder;
    padding: 10px;
    color: $ctaBlue;
    font-weight: 500;
    font-size: 18px;
}

.hike-tabs span {
    padding-right: 10px;
    cursor: pointer;
}

.hike-tabs .active-tab {
    color: $darkGrey;
    cursor: default;
}

.hike-content p {
    padding: 10px;
}

//Hike sidebar/map view styling

.hike-sidebar {
    width: 325px;
    border-left: $contentBorder;
    display: none;
}

.hike-detail-nav {
    display: none;
}

.hike-detail-nav.hike-map-view {
    display: none;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    padding: 10px;
    background-color: white;
    color: $grey;
    font-family: $headerFont;
    font-size: 17px;
    font-weight: 500;
}

.hike-detail-nav:hover {
    color: $lighterGrey;
    cursor: pointer;
}

.hike-detail-nav svg {
    margin-left: 8px;
}

main.hike-map-view {
    height: calc(100vh - 60px);
    overflow-y: auto;
    width: 450px;
    margin: 0;
}

aside.hike-map-view {
    display: none;
}

.map-preview {
    position: relative;
    margin: 10px;
    cursor: pointer;
}

.map-preview > img {
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
}

.map-preview .fa-w-14 { // fontawesome icon
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    padding: 5px;
    background-color: $backgroundGreen;
    color: $backgroundGrey;
    font-size: 24px;
    font-weight: lighter;
    border-radius: 4px;
}

.map-preview > span {
    position: absolute;
    display: block;
    width: 200px;
    bottom: 15px;
    left: 50%;
    margin-left: -100px;
    padding: 10px 0;
    text-align: center;
    background-color: $backgroundGrey;
    color: $darkGrey;
    border-radius: 8px;
}

@media only screen and (min-device-width: 800px) {
    .hike-sidebar {
        display: block;
    }

    .hike-container {
        width: 950px;
    }

    .hike-detail-nav.hike-map-view {
        display: flex;
    }
}