// Place all the styles related to the api/Parks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.park-container {
    font-family: $headerFont;
    color: $grey;
    font-size: 0.9rem;
    line-height: 1.5rem;

    h1 {
        font-size: 1.75rem;
        padding-bottom: 12px;
    }

    h2 {
        font-size: 1.2rem;
    }
}

.park-content-wrapper {
    margin: 0 10px;
}

.park-content-wrapper > .sm-header-size {
    font-size: 1rem;
}

.park-summary {
    font-size: 1rem;
    padding: 12px 0;
}

.park-information {
    border-top: $contentBorder;
    border-bottom: $contentBorder;
    padding-top: 20px;
    margin-top: 20px;
}

.park-information-details {
    display: flex;
    margin-top: 15px;

    article {
        margin-bottom: 20px;
    }
}

.park-static-map {
    height: 240px;
    max-width: 750px;
    margin: 20px 0;
    
    img {
        height: 100%;
        width: 100%;
        border-radius: 12px;
    }
}

.park-actions {
    display: flex;
    padding: 5px 5%;
}

.park-action {
    display: flex;
    align-items: center;
    color: $ctaGreen;

    svg {
        font-size: 1.5rem;
        padding: 18px;
        border-radius: 50%;
        margin-right: 15px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.24), 0 0 8px 0 rgba(0,0,0,.08);
        transform: scale(1);
        transition: transform 0.4s;
    }
}

.park-action:hover {
    
    svg {
        transform: scale(1.12);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.44), 0 0 8px 0 rgba(0,0,0,.08);
    }

    p {
        color: $buttonHoverGreen;
    }
}

.photo-carousel-wrapper {
    margin-bottom: 25px;
    position: relative;
    height: 220px;
}

.photo-carousel {
    display: flex;
    overflow-x: scroll;
}

.park-carousel-image {
    margin-right: 20px;
    position: relative;
    transition: transform 0.5s ease;
    cursor: pointer;
    
    img {
        border-radius: 8px;
        height: 220px;
        width: 330px;
    }
}

.photo-carousel-nav-btn {
    position: absolute;
    top: calc(50% - 1.5rem);
    background-color: white;
    font-size: 2.5rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23), 0 0 8px 0 rgba(0,0,0,.08);
}

.btn-overflow-right {
    right: -1.5rem;
}

.btn-overflow-left {
    left: -1.5rem;
}

.park-hikes-container {
    margin-top: 15px;
}

.sticky-scroll-bar {
    position: sticky;
    top: -1px;
    padding: 2px 0 1px 0;
    background-color: white;
    z-index: 5;

    .primary-content {
        margin-bottom: 0;
    }
}

.is-sticky {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23);
}

@media only screen and (min-device-width: 800px) {

    .photo-carousel-nav-btn {
        display: flex;
    }

    .photo-carousel {
        overflow-x: hidden;
    }

}