// Place all the styles related to the api/Parks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.park-container {
    font-family: $headerFont;
    color: $grey;
    font-size: 0.9rem;
    line-height: 1.5rem;

    h1 {
        font-size: 1.75rem;
        padding-bottom: 12px;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }
}

.park-summary {
    font-size: 1rem;
    padding: 12px 0;
}

.park-information {
    border-top: $contentBorder;
    border-bottom: $contentBorder;
    padding-top: 20px;
    margin: 20px 0;
}

.park-information-details {
    display: flex;
    margin-top: 15px;

    article {
        margin-bottom: 20px;
    }
}

.park-static-map {
    height: 240px;
    max-width: 750px;
    margin: 20px 0;
    
    img {
        height: 100%;
        width: 100%;
        border-radius: 12px;
    }
}