// Photo upload form

.preview-image {
    width: 40%;
}

.preview-image img {
    width: 100%;
    height: auto;
    margin: 15px 0;
}

.photo-uploader {
    display: flex;
    border: 1px solid $lighterGrey;
    margin: 10px 0;
    border-radius: 8px;
    width: 100%;
}

.photo-uploader label {
    padding: 8px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.selected-div {
    border: 2px solid $green;
}

#photo-upload {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.cancel-button {
    border-radius: 8px;
    background-color: $lightGrey;
    color: $mediumGrey;
    font-weight: 600;
    padding: 3px 8px;
}

#loading {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

#loading > svg {
    font-size: 60px;
    color: $logoGreen;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//Photo Feed 

.photo-feed {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.photo-feed-item {
    width: 140px;
    margin: 3px 5px;
}

.photo-feed-item img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 4px;
}

// photo modal

#photos-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    height: 100vh;
}

.modal-nav {
    height: 50px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#photos-modal svg {
    color: $lighterGrey;
    font-size: 30px;
    margin: 10px;
}

.modal-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    height: calc(100vh - 140px);
}

.modal-image {
    width: 80%;
    height: 100%
}

.modal-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.modal-content button {
    height: 100px;
    width: 50px;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
}