// Review form

.review-photo-form {
    padding: 0 30px 30px 30px;
    font-size: 14px;
}

.review-photo-form label {
    font-weight: 500;
}

.review-photo-form > textarea {
    padding: 20px;
}

.review-photo-form > input, .review-photo-form > textarea, .review-photo-form > select {
    border: 1px solid $lighterGrey;
    margin: 10px 0;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
}

.review-photo-form input:focus, .review-photo-form select:focus, .review-photo-form textarea:focus {
    border: 2px solid $green;
}

#activityDate, #activity {
    height: 40px;
}

//Form trail conditions selector

.form-tag-cloud {
    display: flex;
    flex-wrap: wrap;
}

.form-tag-cloud > a  {
    background-color: $lightGrey;
    color: $tagGrey;
    border-radius: 4px;
    margin: 3px 5px;
    padding: 3px 8px;
    cursor: pointer;
}

.form-tag-cloud .tag-selected {
    color: white;
    background-color: $lighterGrey;
}

//Form CTAs

.review-photo-form > button, .review-photo-form > a {
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.review-photo-form > a:hover {
    background-color: $grey;
}

// Review form star ratings

.rating-select {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    font-size: 50px;
}

.review-star::before {
    content: "★";
    color: $lightGrey;
}

.review-star {
    cursor: pointer;
}

input:checked ~ .review-star::before {
    color: gold;
}

.rating-select > input {
    visibility: hidden;
}

.rating-select > input + .review-star {
    display: inline-block;
}

//Edit review form
.edit-review-form {
    width: 60%;
    margin: 0 auto 30px auto;
    font-family: $bodyFont;
    color: $darkGrey;
}

.edit-review-form > h1 {
    background-color: $backgroundGreen;
    color: white;
    font-size: 32px;
    font-weight: 500;
    padding: 20px 30px;
    margin-bottom: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}