.review-item {
    background-color: $backgroundGrey;
    border: $contentBorder;
    margin: 10px;
    border-radius: 8px;
    font-size: 13px;
}

.review-header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-bottom: $contentBorder;
}

.review-header > div > a {
    font-weight: 600;
    color: $ctaBlue;
}

.review-tags {
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
}

.review-tags > .tag {
    margin: 5px 5px 5px 0;
    padding: 2px 8px;
}

.review-header div:last-child {
    text-align: right;
}

.review-item > p {
    margin: 10px;
}

.review-action {
    background-color: $grey;
    color: white;
    padding: 5px;
    margin-left: 3px;
    border-radius: 4px;
    font-size: 14px;
}

.review-header button {
    padding: 6px;
}