// Place all the styles related to the api/Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sub-nav {
    width: 70%;
    max-width: 950px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $headerFont;
}

.sub-nav.hike-map-view {
    width: 98%;
    max-width: none;
    margin: 10px 20px;
}

.breadcrumbs {
    display: none;
    align-items: center;
    font-size: 0.5rem;
    color: $grey;

    p,a {
        font-size: 0.7rem;
    }

    a:hover {
        text-decoration: underline;
    }

    svg {
        margin: 0 10px;
    }
}

// Shared Search Bar\

div[class^="text-search-"] {
    position: relative;
}

.text-search {
    display: flex;
    background-color: white;
    background-clip: padding-box;
    border-radius: 6px;
}

.text-search label {
    color: $grey;
    cursor: text;
}

.text-search input {
    width: 100%;
    text-align: left;
    color: $darkGrey;
}

.text-search > button {
    color: white;
    background-color: $ctaGreen;
}

// Homepage search bar

.text-search-home {
    width: 80%;
    margin: 40px auto;
    font-size: 24px;
}

.text-search-home > .text-search {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, .45);
}

.text-search-home label {
    padding: 20px;
}

.text-search-home button {
    padding: 20px 30px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

// Hike search bar

.text-search-subnav {
    width: 100%;
    font-size: 14px;
}

.text-search-subnav > .text-search {
    border: $contentBorder;
}

.text-search-subnav button {
    padding: 10px 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.text-search-subnav input {
    padding-left: 10px;
}

.text-search-subnav:focus-within > .text-search {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.text-search-subnav:focus-within button {
    border-bottom-right-radius: 0;
}

// Shared search results

.search-results-container {
    position: absolute;
    z-index: 5;
    width: 100%;
}

.search-result {
    display: flex;
    align-items: center;
    padding: 4px 8px;
}

.search-result > svg {
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin-right: 8px;
}

.search-result:hover {
    background-color: $ctaGreen;
    color: white;
}

.result-hike {
    background-color: $ctaGreen;
}

.search-result:hover > .result-hike {
    background-color: white;
    color: $ctaGreen;
}

.result-park {
    background-color: $orange;
}

.search-result:hover > .result-park {
    background-color: white;
    color: $orange;
}

ul[class^="search-results"] {
    border: $contentBorder;
    background-color: white;
    color: $darkGrey;
    text-align: left;
    padding: 4px 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

// homepage search results

.search-results-home {
    font-size: 16px;
}

// hike search results

ul.search-results-subnav {
    font-size: 12px;
    border-top: none;
}

//media queries

@media only screen and (min-device-width: 850px) {

    .breadcrumbs {
        display: flex;
    }

    .text-search-subnav {
        width: 40%;
    }
}
