//Fonts
$headerFont: 'Montserrat', Arial, sans-serif;
$bodyFont: 'Work Sans', Helvetica, sans-serif;
$titleFont: 'Varela Round', "Montserrat", sans-serif;

//Colors
$ctaBlue: #219ad8;
$ctaBlueHover: #4BAFE1;

$darkGrey: #414141;
$mediumGrey: #646255;
$tagGrey: #676767;
$grey: #808080;
$lighterGrey: #999999;
$backgroundGrey: #F2F2F2;
$borderGrey: rgb(187, 187, 187);
$lightGrey: #E6E6E6;

$ctaGreen: #468A13;
$green: #428a13;
$buttonHoverGreen: #69a041;
$logoGreen: #458813;
$backgroundGreen: #539733;

$orange: #F19B33;

// #4D9709

//Other Components

$contentBorder: 1px solid $borderGrey;
$inputBorder: 1px solid $lighterGrey;