.homepage {
    text-align: center;
    font-family: $titleFont;
}

// https://unsplash.com/photos/7RgMKvO1N8A
.homepage-hero {
    font-size: 50px;
    background-image: image-url("phil-b-7RgMKvO1N8A-unsplash.jpg");
    background-size: cover;
    height: 550px;
    color: white;
    position: relative;
}

.hero-content {
    position: absolute;
    width: 90%;
    top: 30%;
    left: 50%;
    margin-left: -45%;
}

.hero-content .text-search-subnav {
    margin-top: 10px;
}

.homepage-subcontent {
    width: 80%;
    margin: auto;
}

.homepage-subcontent h2 {
    font-size: 30px;
    color: $darkGrey;
}

.homepage-subcontent p {
    width: 60%;
    margin: 0 auto;
    font-size: 14px;
    color: $grey;
}

.homepage-subcontent a {
    width: 160px;
    margin: 25px auto;
    padding: 15px 15px;
    border-radius: 8px;
}

.homepage section {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepage p {
    line-height: 2;
}

.homepage h2 {
    line-height: 1.25;
    margin-bottom: 25px;
}

@media only screen and (min-device-width: 860px) {
    .homepage-hero {
        font-size: 70px;
    }

    .hero-content {
        width: 70%;
        margin-left: -35%;
    }

    .homepage-subcontent h2 {
        font-size: 50px;
    }

    .homepage-subcontent p {
        font-size: 18px;
    }
}