.hike-with-map {
    display: flex;
}

.hike-map {
    display: none;
    height: calc(100vh - 60px);
    flex: 1;
}

.hike-map.hike-map-view {
    display: block;
}

.map-container {
    height: 100%;
}

.hike-detail-toggle {
    position: absolute;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $backgroundGrey;
    color: $grey;
    height: 30px;
    width: 23px;
    z-index: 1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.1), 0 0 8px 0 rgba(0,0,0,.08);
    cursor: pointer;
}

.marker {
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.1), 0 0 8px 0 rgba(0,0,0,.08);
}

.combo-trailhead {
    background-image: image-url("GreyandGreenwithWhite.png");
}

.trailhead-only {
    background-image: image-url("GreenwithWhite.png");
}

.trail-end {
    background-image: image-url("GreywithWhite.png");
}