html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}

// button styling

.primary-cta {
    background-color: $ctaGreen;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.primary-cta:hover {
    background-color: $buttonHoverGreen;
}

.inline-link {
    color: $ctaGreen;
    font-weight: 600;
}

.inline-link:hover {
    color: $buttonHoverGreen;
}

.secondary-cta {
    background-color: $ctaBlue;
    border: 2px solid $ctaBlue;
    color: white;
}

.secondary-cta:hover {
    background-color: $ctaBlueHover;
    border: 2px solid $ctaBlueHover;
}

.tertiary-cta {
    border: 2px solid $ctaBlue;
    color: $ctaBlue;
}

.tertiary-cta:hover {
    border: 2px solid $ctaBlueHover;
    color: $ctaBlueHover;
}

// icon styling

.logo-icon {
    color: $logoGreen;
    margin: 8px;
}

.logo-title {
    display: flex;
    align-items: center;
}

//content

.tag {
    background-color: $grey;
    color: white;
    border-radius: 8px;
}

.hidden {
    display: none;
}

//forms

textarea {
    border: 1px solid $lighterGrey;
}

.form-errors {
    font-size: 14px;
    color: red;
    font-weight: 500;
    margin-bottom: 15px;
}

//review stars

.star::before {
    content: "★";
    color: $lighterGrey;
    margin: 0 1px;
}

.filled.star::before {
    color: gold;
}

//profile picture

.profile-picture {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture img {
    height: inherit;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}