header {
    font-family: $headerFont;
}

.main-nav {
    display: flex;
    height: 60px;
    margin: 0px 8px;
}

.nav-site-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-logo-title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-user-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.main-nav h2 {
    color: $grey;
    font-weight: 500;
    font-size: 25px;
}

.nav-user-links a {
    font-size: 13px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 8px;
    margin-left: 8px;
}

.logo-icon {
    font-size: 22px;
}