header {
    font-family: $headerFont;
    border-bottom: 1px solid $lightGrey;
}

.main-nav {
    display: flex;
    height: 60px;
    margin: 0px 8px;
}

.nav-site-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-logo-title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-user-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-nav h2 {
    color: $grey;
    font-weight: 500;
    font-size: 25px;
}

.nav-user-links .secondary-cta, .nav-user-links .tertiary-cta {
    font-size: 13px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 8px;
    margin-left: 8px;
}

.logo-icon {
    font-size: 22px;
}

.dropdown-selector {
    position: relative;
    cursor: pointer;
    color: $mediumGrey;
    font-size: 14px;
}

.user-menu-header {
    display: flex;
    align-items: center;
    height: 60px;
}

.user-menu-header > .profile-picture {
    background-color: $backgroundGrey;
    color: $grey;
    font-size: 20px;
    height: 40px;
    width: 40px;
    margin-right: 8px;
}

.user-menu-header picture {
    height: 40px;
}

.dropdown-selector > p {
    cursor: pointer;
    padding: 15px;
}

.user-dropdown {
    position: absolute;
    display: none;
}

.dropdown-selector:hover .user-dropdown {
    display: block;
    background-color: white;
    z-index: 1;
    right: 0px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.24), 0 0 8px 0 rgba(0,0,0,.08);
    border-radius: 8px;
    width: 180px;
}

.user-dropdown a, .user-dropdown button {
    display: block;
    padding: 15px 20px;
    width: 100%;
    cursor: pointer;
}

.user-dropdown li:hover {
    background-color: $lightGrey
}

.user-dropdown > li:first-child {
    margin-top: 16px;
}

.user-dropdown > li:last-child {
    margin-bottom: 16px;
}
